VITE_SUPABASE_URL=https://kckzqsafzemeijxfohuy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtja3pxc2FmemVtZWlqeGZvaHV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5NDUzMTksImV4cCI6MjA5OTUyMTMxOX0.qRKJkJeoXwiFQwE6gr7qiKTG9TyttEPam-HKHh4ib_0
